<div class="main-content">
  <div class="panel_1">
    <h3><%= @group.title %></h3>
    <h1><%= @group.description %></h1>

  <%= link_to 'Back', groups_path %> |
  <%= link_to 'Edit', edit_group_path(@group) %>
  </div>
  <hr>
    <div class="panel_2">
  		<%= render @group.comments %>
    </div>
    <div class="panel_3">
  		<%= render "comments/form" %>
    </div>
</div>
